---

- name: Construct GNOME extension package names
  ansible.builtin.set_fact:
    # Prepend 'gnome-shell-extension-' to each item in the list
    gnome_extensions_dnf_package_names: "{{ gnome_extensions_extensions_to_install | map('regex_replace', '^(.*)$', 'gnome-shell-extension-\1') | list }}"
  # This task dynamically generates the full package names required by DNF.

- name: Install GNOME Shell extensions via DNF with progress display
  ansible.builtin.dnf:
    name: "{{ item }}"
    state: present
  loop: "{{ gnome_extensions_dnf_package_names | default([]) }}"
  loop_control:
    label: "{{ item }}"
  when: (gnome_extensions_dnf_package_names | default([])) | length > 0
