---
# main task file for gnome_extensions

- name: Assert that the operating system is Fedora for package installation
  ansible.builtin.assert:
    that:
      - ansible_facts['distribution'] == 'Fedora'
    fail_msg: "This role currently only supports installing GNOME extensions via DNF on Fedora. Detected OS: {{ ansible_facts['distribution'] }}."

- name: Include tasks to install GNOME extensions
  ansible.builtin.include_tasks: install_extensions.ansible.yml
  when: gnome_extensions_extensions_to_install is defined and gnome_extensions_extensions_to_install | length > 0
  # Only include if the variable is defined and not empty.

- name: Include tasks to enable installed GNOME extensions
  ansible.builtin.include_tasks: enable_extensions.ansible.yml
  when: gnome_extensions_enable_all | default(false) | bool
