---
# Child task file: firefox_replacement.ansible.yml
# This file handles the replacement of Firefox RPM with Firefox Flatpak

# - name: Remove packages that depend on Firefox
#   ansible.builtin.package:
#     name:
#       - anaconda-webui
#     state: absent
#   become: true
#   failed_when: false
#   when: firefox_flatpak_remove_rpm | bool

- name: Remove Firefox RPM and langpacks
  ansible.builtin.package:
    name:
      - firefox
      # - firefox-langpacks
    state: absent
  become: true
  ignore_errors: "{{ ansible_check_mode }}"
  when: firefox_flatpak_remove_rpm | bool

- name: Install Firefox Flatpak
  community.general.flatpak:
    name: "{{ firefox_flatpak_package_name }}"
    state: present
    method: "{{ firefox_flatpak_install_method }}"
  when: firefox_flatpak_install_flatpak | bool
