---

- name: Install Flatpak packages
  community.general.flatpak:
    name: "{{ item.name if item.name is defined else item }}"
    state: present
    method: "{{ item.method | default(flatpak_install_method_default) }}"
  loop: "{{ flatpak_packages_to_install }}"
  loop_control:
    label: "{{ item.name if item.name is defined else item }}"
  become: false
  when: flatpak_packages_to_install | length > 0
